.content-wrapper{
    min-height: calc(100vh - 79px - 56px);
}

footer{
    height: 56px;
    line-height: 56px;
    background: #f2f2f2;
}

aside{
    background: #f2f2f2;
    flex: 0 0 300px;
}

aside ul{
    list-style-type: node;
    padding: 0;
    margin: 0;
}

aside ul li a{
    padding: 10px;
}

aside a{
    display: block;
    color: #015b94;
}
aside a.active{
    background: #47c132;
    color: #ffffff;
}
aside a:hover{
    text-decoration: none;
}


.content-area{
    flex: 1 1 1px;
}