body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Fira Sans', sans-serif;
}
h1,h2{font-size: 30px;font-weight: 300;}
h3{font-size: 24px;font-weight: 300;}
.topline{
    padding: 15px 0;
    display: flex;
    align-items: center;
}
.topline .img-wrap{
    flex: 1 1 1px;
}
.social{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social li{
    display: inline-block;
}
.topline .social a{
    color: #e2e2e2;
}
.footer-area .social a{
    color: #ffffff;
}


.menu{
    padding: 15px 0;
    font-size: 18px;
    margin-bottom: 50px;
}
.menu ul{
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    transition: 1s;
}
.menu ul li{
    display: inline-block;
}
.menu a{
    color: #ffffff;
    margin: 0 15px;
}

.content-area{
    min-height: 500px;
    padding: 50px 80px;
    font-size: 18px;
}

span.tab{
    display: inline-block;
    padding: 15px;
    background: #ffffff;
    cursor: pointer;
    background: #e9e9e9;
    transition: 0.3s;
}
.wrapper .active { background: #ffffff; }

.tab-content{
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.1);    
}
.tab-item{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    min-height: 500px;
}
.tab-body{
    padding: 70px 70px 0;
    flex: 1 1 1px;
}
.tab-footer{
    line-height: 70px;
}
.tab-footer .space{
    flex: 1 1 1px;
}
.tab-footer button{
    width: 70px;
    height: 70px;
    border: none;
    background: #ee3e41;
    color: #ffffff;
}



.unit{
    position: relative;
    width: 100%;
    padding: 15px;
}
.unit-mt{
    margin-top: 90%;
}
.unit-content, .unit-content-disabled{
    background: #ffffff;
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0;
    left: 5%;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    backface-visibility: hidden;
    border-radius: 10px;
    color: #455358;
    font-size: 14px;
    padding: 15px;
    overflow: hidden;    
}
.unit-content-disabled{
    background: #eeeeee;
}

.unit-content:hover{
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.1);
    text-decoration: none;
}

.mobil-button {
    display: none;
    border: none;
    background: transparent;
    color: #ffffff;
}

@media screen and (max-width: 767px){
    .menu ul{
        display: none;
    }
    .menu ul.visible {
        display: block;
    }
    .mobil-button {
        display: inline-block;
    }
    .menu ul{
        text-align: left;
    }
    .menu ul li {
        display: block;
    }
}

.bg-blue{
    background: #015b94;
}
.bg-light-blue{
    background: #347ca9;
}

.bg-gray{
    background: #f6f6f6;
}

.footer-area{
    padding: 50px 80px;
    color: #ffffff;
}

.footer-area .contacts{
    list-style-type: none;
    padding: 0;
    font-weight: 300;
}

.footer-area .contacts li{
    display: flex;
    align-items: center;
}

.footer-area .contacts .contact-thumb{
    display: inline-block;
    margin-right: 15px;
}
.footer-area .contacts .contact-thumb i{
    line-height: 41px;
}

.bottom-line{
    padding: 10px 0;
    color: #505050;
}

.my-form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: transparent;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    border-width: 0 0 1px 0;
    border-color: #ffffff;
    /* border-radius: .25rem; */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.my-form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#999999;
    opacity: 1; /* Firefox */
}
.my-form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#999999;
}
.my-form-control::-ms-input-placeholder { /* Microsoft Edge */
    color:#999999;
}

.btn-red{
    background: #ee3e41;
    color: #ffffff;
    border-radius: 0;
    padding: 10px;
}

table th{
    text-align: center;
}

.pagination{
    margin-bottom: 0;
}

/* GotoTop */
#GotoTop {
    background: #015b94;
    text-align:center;
    padding:15px;
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
    display:none;
    color:#f8f8f8;
    font-size:11px;
    opacity: 0.8;
}
#GotoTop:hover{
    opacity: 1;
}

td.day{
    padding: 5px 15px;
}


.form-control, .input-group-text{
    border-radius: 0;
    line-height: 2;
}
select.form-control:not([size]):not([multiple]){
    height: calc(2.25rem + 10px);
}